* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 12px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

body {
    display: flex;
    height: 100vh;
}

#root {
    display: flex;
    flex: 1;
    height: 100%;
    width: 100%;
}

@media screen and (min-width: 600px) {
    .grid-container {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 4fr;
        grid-template-rows: auto;
        grid-template-areas: "grid-item-nav grid-item-feed";

    }
}

@media screen and (min-width: 0px) and (max-width:599px) {
    .grid-container {
        display: flex;
    }
}

.grid-item-feed {
    width: 100%;
    display: flex;
    overflow: auto;
    justify-content: center;
}

.grid-item-nav {
    display: flex;
}

.left-sidebar {
    width: 100%;
}

.left-sidebar::-webkit-scrollbar {

    width: 7px;

}

.left-sidebar::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: 0 0 1px rgba(255, 255, 255, .25);

}

.left-sidebar::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, .2);
}

.nav-side-bar {
    width: 100%;
}